<button
  (click)="prev()"
  [disabled]="currentPage === 1"
  [ngClass]="[theme.default, theme.text, theme.disabled, 'px-3 py-1 rounded']"
>
  Prev
</button>

<ng-container *ngFor="let page of paginationRange">
  <button
    *ngIf="page !== '...'; else dots"
    (click)="goToPage(page)"
    [ngClass]="[
      page === currentPage ? theme.primary : theme.default,
      theme.text,
      'px-3 py-1 rounded',
      page !== currentPage ? theme.hover : ''
    ]"
  >
    {{ page }}
  </button>
  <ng-template #dots>
    <span class="px-2 text-gray-400">...</span>
  </ng-template>
</ng-container>

<button
  (click)="next()"
  [disabled]="currentPage === totalPages"
  [ngClass]="[theme.default, theme.text, theme.disabled, 'px-3 py-1 rounded']"
>
  Next
</button>
