.spinner-border {
    border-top-color: transparent;
    border-radius: 50%;
    border-width: 4px;
    border-color: #3b82f6; 
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  //<app-spinner [isLoading]="isLoading"></app-spinner>
